@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
    cursor: none; /* Hide default cursor to use custom cursor */
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}